<div id="directorio" class="col-md-4">
    <div class="acciones">                
        <a href="#" data-toggle="modal" data-target="#modal-nuevaC"><i class="fa fa-plus fa-lg derecha accion"></i></a>
    </div>
    <div class="carpetas">{{# carpetas}}
        <a href="/PHPDocumentos/Carpeta/{{IdCarpeta}}">
            <div class="pure-u carpeta">
                <div class="col-md-1">
                    <i class="fa fa-folder fa-2x"></i>
                </div>
                <div class="col-md-7 nombre">
                   <span>{{Descripcion}}</span> 
                </div>
                <div class="col-md-1">
                    <a id="{{IdCarpeta}}" name="{{Descripcion}}" class="btnEditarC" href="#" data-toggle="modal" data-target="#modal-editar"><i class="fa fa-pencil-square-o fa-lg derecha accionCar"></i></a>
                </div>
                <div class="col-md-1">
                    <a id="{{IdCarpeta}}" class="btnEliminarC" href="#" data-toggle="modal" data-target="#modal-eliminar"><i class="fa fa-trash-o fa-lg derecha accionCar"></i></a>
                </div>
            </div>
        </a>
        <br/>{{/ carpetas}}
    </div>
</div>