<div id="modal-nuevaC" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<!--header-->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Crear Carpeta </h4>
			</div>
			<!--body-->
			<div class="modal-body">
				<form class="pure-form pure-form-stacked" method="POST" action="/PHPDocumentos/AdmCarpeta/">
					<label for="descripcionAC">Nombre:</label>
					<input id="descripcionAC" name="descripcionAC" class="pure-input-1" type="text" placeholder="Obligatorio" required>
					<input id="idC" name="idC" type="hidden" value="-1">
				</div>
				<!--footer-->
				<div class="modal-footer">
					<button type="button"class="pure-button pure-button-secondary" data-dismiss="modal">Cancel</button>
					<button type="submit" class="pure-button pure-button-primary">Crear</button>
				</form>
			</div>
		</div>
	</div>
</div>