<div id="modal-eliminar" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<!--header-->
			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Eliminar</h4>
			</div>
			<!--body-->
			<div class="modal-body" style="text-align:center;">
				<p>¿Seguro que desea eliminar el elemento seleccionado?</p>
			</div>
			<!--footer-->
			<div class=" modal-footer">
				<button type="button"class="pure-button pure-button-secondary" data-dismiss="modal">Cancel</button>
				<input type="hidden" id="idElemento" name="idElemento" value=""/>
				<a id="eliminarLink" href="" name=""><input name="btnEtiqueta" type="submit" class="pure-button button-error" value="Eliminar"/> </a>
			</div>
		</div>
	</div>
</div>