<div id="modal-SelectVarios" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<!--header-->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Acciones para Multiples Archivos: </h4>
				</div>
				<!--body-->
				<form class="pure-form pure-form-stacked" enctype="multipart/form-data" >
					<center>
					<div class="modal-body">
					        <div class="pure-control-group">
					           
					            <i class="fa fa-folder-open-o fa-lg accion"></i><input type="submit" name="variosAc" id="mArchivo"  data-toggle="modal" data-target="#modal-MArchivo" value="Copiar">
					            <br/>
					            <i class="fa fa-files-o fa-lg accion"></i><input type="submit" name="variosAc" id="cArchivo"  data-toggle="modal" data-target="#modal-CArchivo" value="Copiar"/>
					        </div>
							</div>
					<!--footer-->
					<div class="modal-footer">
						<button type="button"class="pure-button pure-button-secondary" data-dismiss="modal">Cancel</button>
						
					</div>
				</center>
				</form>
		</div>
	</div>
</div>