<div id="modal-visual" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" data-dismiss="modal" aria-label="Close"><i class="btnSalirM fa fa-times fa-lg accionV" ></i></a>
				<a href="#" data-toggle="modal" data-target="#modal-Compartir"><i class="fa accionV fa-share-alt fa-lg"></i></a>
				<a id="descargaA" href="#" target="_blank"><i class="fa fa-download fa-lg accionV"></i></a>
				<a href="#" class="btnEliminarA" data-toggle="modal" data-target="#modal-eliminar"><i class="fa fa-trash-o fa-lg accionV"></i></a>
				<a href="#" class="btnEditarA" data-toggle="modal" data-target="#modal-editar"><i class="fa fa-pencil-square-o fa-lg accionV"></i></a>
				<a href="#" class="btnAddEtiqueta" data-toggle="modal" data-target="#modal-Etiqueta"><i class="fa fa-tag fa-lg accionV"></i></a>
				<h4 class="modal-title">Visualizador</h4>
			</div>
			<!--body-->
			<div class="modal-body">
				<center>
					<img class="pure-img" id="imgVisual" src="" alt="imagen">
				</center>
			</div>
		</div>
	</div>
</div>