    <div id="nav" class="pure-u">
        <a href="#" class="nav-menu-button">Menu</a>

        <div class="nav-inner">
            <a href="#modal-compose" class="btn go"><button class="primary-button pure-button">Compose</button></a>

            <div class="pure-menu">
                <ul class="pure-menu-list">
					{{# categories }}
                    <li class="pure-menu-item"><a href="/email/index.php/category/{{id}}" class="pure-menu-link">{{name}}<span class="email-count"> (2)</span></a></li>
					{{/ categories}}
                    <li class="pure-menu-heading">Labels</li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="email-label-personal"></span>Personal</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="email-label-work"></span>Work</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="email-label-travel"></span>Travel</a></li>
                </ul>
            </div>
        </div>
    </div>